<div class="row-fluid">	
  <div id="new" class="span6" ></div>
  <div id="edit" class="span6"></div>
  <div id="list" class="span12"></div>
</div>
<script type="text/javascript">
  $(function() {
    window.router = new Bookmarks.Routers.BookmarksRouter({bookmarks: <%= @bookmarks.to_json.html_safe -%>});
    Backbone.history.start();
  });
</script>

