<div id="bookmarks"></div>

<script type="text/javascript">
  $(function() {
    window.router = new Bookmarks.Routers.BookmarksRouter({bookmarks: <%= @bookmarks.to_json.html_safe -%>});
    Backbone.history.start();
  });
</script>
