<div class="page-header">
  <a href="#new" class="btn btn-primary">
    <i class="icon-plus icon-white"></i>
    New Bookmark
  </a> 
  <h1>Listing Bookmarks</h1>
</div>

<table id="bookmarks-table" class='table table-bordered table-striped' >
	<tr>
	  <th>Name</th>
	  <th>Address</th>
	  <th>Tags</th>
	  <th></th>
	  <th></th>
	</tr>
</table>
