<h1>Listing bookmarks</h1>

<table id="bookmarks-table" class='table table-bordered table-striped' >
  <tr>
    <th>Name</th>
    <th>Address</th>
    <th>Tags</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
</table>

<br/>

<a href="#/new">New Bookmark</a>
