<h1>Listing bookmarks</h1>
<form id="filter" name="filter-tag" class="form-inline">
  <div class="field">
    <label for="tag"> Tag:</label>
    <input type="text" name="tag" id="tag" value="Enter tag to filter" >
  </div>
  <div class="actions">
    <input type="submit" value="Filter" />
  </div>

</form>
<table id="bookmarks-table" class="table">
  <tr>
    <th>Name</th>
    <th>Address</th>
    <th>Tags</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
</table>

<br/>

<a href="#/new">New Bookmark</a>
