<h1>New bookmark</h1>

<form id="new-bookmark" name="bookmark">
  <div class="field">
    <label for="name"> name:</label>
    <input type="text" name="name" id="name" value="<%= name %>" >
  </div>

  <div class="field">
    <label for="address"> address:</label>
    <input type="text" name="address" id="address" value="<%= address %>" >
  </div>

  <div class="field">
    <label for="tags"> tags:</label>
    <input type="text" name="tags" id="tags" value="<%= tags %>" >
  </div>

  <div class="actions">
    <input type="submit" value="Create Bookmark" />
  </div>

</form>

<a href="#/index">Back</a>