<div class="page-header">
  <h1>About</h1>
</div>
<p>This is a basic single page app built using Ruby on Rails and Backbone.js. The source code is available at <a href="https://github.com/shrey-sharma/rails-backbone-example-bookmarks">https://github.com/shrey-sharma/rails-backbone-example-bookmarks</a>.  </p>
