<div class="row-fluid">	
  <div class="hero-unit">
    <h2 align="center">Bookmarks Sample App</h2>
    <p align="center">Store your Bookmarks Online</p>
    <p align="center">
      <%= link_to "Start Here", bookmarks_path, :class => "btn btn-primary" %> 
    </p>
  </div>
</div>
